//
// User styles
// -----------------------------------------------------------------------------
// NOTE: the following user styles are designed for default theme Curtana

// EXAMPLE: alternative title size
// By default all heading levels have the same font size, but many people may
// not like this, so here's an alternative font size stack:
// .content {
//   h2 { font-size: 108%; opacity: .8; }
//   h3 { font-size: 96%;  opacity: .7; }
//   h4 { font-size: 84%;  opacity: .6; }
//   h5 { font-size: 72%;  opacity: .5; }
//   h6 { font-size: 60%;  opacity: .4; }
// }

// EXAMPLE: alternative post title color
// This is useful when you're using the custom color scheme.
// .content { .list h2 a, header h1, header h1 a { color: var(--link-color); } }
// .external span { background: var(--link-color); }

// EXAMPLE: Custom typography for Chinese Traditional
// :root {
//   --fontstack-sans-serif: "Helvetica Neue", "Hiragino Sans GB", Arial, sans-serif;
//   --fontstack-serif: Georgia, "Hiragino Mincho ProN", serif;
// }

// EXAMPLE: amsf.github.io custom appearance
.content .sub-title {
  font-size: 108%;
  opacity: .8;
}

.work-experience-image-list {
  display: flex; 
  justify-content: space-around; 
  padding-top: 4%; 
  flex-wrap: wrap;
}

.work-experience-image-list img {
  display: block;
  max-width:230px;
  max-height:95px;
  width: auto;
  height: auto;
  margin: 20px;
}

.front-page-header-text {
  text-align: left; 
  vertical-align: middle; 
  max-width: 50%;
}

.front-page-portfolio-image > img {
  width:350px; 
  height:350px; 
  object-fit:cover; 
  border-radius:50%;
}

.front-page-portfolio-image {
  height: 5%; width: 5%; padding-top: 5%;
}

.front-page-header {
  display: flex; 
  flex-direction: column; 
  padding: 0px; 
  justify-content: space-around;
}

#header-front-page {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-between; 
  align-items: center; 
  align-content: space-between; 
}

.alternative-header-text-only {
  text-align: center;
  margin: 20px;
}

aside.timeline {
  min-width: 300px;
  margin-top: -16vmin;
}

aside.timeline p {
  font-size: 0.7em;
  line-height: 1.75em;
  border-top: 3px solid;
  border-image: linear-gradient(to right, #743ad5 0%, #d53a9d 100%);
  border-image-slice: 1;
  border-width: 3px;
  margin: 0;
  padding: 40px;
  counter-increment: section;
  position: relative;
  color: black;

    //numbers
    &:before {
      content: counter(section);
      position: absolute;
      border-radius: 50%;
      padding: 5px;
      height: 2.25em;
      width: 2.25em;
      background-color: black;
      text-align: center;
      line-height: -1.25em;
      color: white;
      font-size: 1em;
    }
}

aside.timeline p:nth-child(odd) {
  border-right: 3px solid;
  padding-left: 0;

  &:before {
    left: 100%;
    margin-left: -20px;
  }
}

aside.timeline p:nth-child(even) {
  border-left: 3px solid;
  padding-right: 0;

  &:before {
    right: 100%;
    margin-right: -20px;
  }
}

aside.timeline p:first-child {
  border-top: 0;
  border-top-right-radius:0;
  border-top-left-radius:0;
}
aside.timeline p:last-child {
  border-bottom-right-radius:0;
  border-bottom-left-radius:0;
}

@media only screen and (min-width: 1026px) {
    header  .alternative-header-text-only {
        display: none;
    }
}

@media only screen and (max-width: 1026px) {
    header > #header-front-page {
        display: none;
    }
}

